.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 94px 50px;
}

.header__menu-list {
  display: flex;
  gap: 33px;
  list-style-type: circle;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}

.header__links-list-item_no-bullit {
  text-decoration: none;
  list-style-type: none;
}

.header__links-list-item {
  text-underline-position: under;
}

.header__logo-image {
  display: block;
  width: 100%;
  height: auto;
  width: 135px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  max-width: 240px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-underline-position: under;
  line-height: 24px;
}

.cover {
  position: relative;
  min-height: 757px;
  background-size: cover;
  background-image: url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  padding: 165px 50px 50px 50px;
  margin-bottom: 180px;
}

.cover__title {
  width: 1000px;
  height: 385px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 30%;
  font-size: 100px;
  margin-bottom: 100px;
}

.span__start {
  display: flex;
  justify-content: flex-start;
  font-weight: 700;
  margin-bottom: 18px;
}

.span__center {
  display: flex;
  justify-content: center;
  font-weight: 700;
  margin-bottom: 18px;
  margin-left: 30px;
}

.span__end {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  margin-bottom: 20px;
}
.span__end-letter {
  letter-spacing: 0;
}

.overlay {
  width: 100%;
  min-height: 100%;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.cover__description {
  display: flex;
  font-size: 22px;
  justify-content: space-between;
}

.cover__description-text {
  word-spacing: 19px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  margin-top: 20px;
}

.bet-button {
  color: #fff;
  font-weight: 500;
  background: none;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 11px 31px;
  margin-top: 7px;
}

.lots {
  width: 1052px;
  min-height: 723px;
  margin: 0 24px 120px 24px;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  padding: 0 0 27px 40px;
  font-weight: 700;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 25px;
}

.lots__card-list-item {
  list-style-type: none;
}

.card {
  width: 334px;
  min-height: 596px;
  position: relative;
  z-index: -1;
  text-decoration: none;
  display: flex;
}

.card__title {
  font-size: 22px;
  text-transform: uppercase;
  position: absolute;
  color: #fff;
  text-decoration: underline 1px;
  text-underline-position: under;
  font-weight: 700;
  padding: 48px 40px 0 40px;
  align-self: flex-start;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  color: #fff;
  padding: 0 40px 48px 40px;
  align-self: flex-end;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
  background-size: cover;
  min-height: 596px;
  background-position: center;
  position: absolute;
  z-index: -1;
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
  background-size: cover;
  min-height: 596px;
  background-position: center;
  position: absolute;
  z-index: -1;
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
  background-size: cover;
  min-height: 596px;
  background-position: center;
  position: absolute;
  z-index: -1;
}

.lots__look-more-link {
  font-size: 20px;
  font-weight: 400;
  text-underline-position: under;
  padding: 16px 0 0 40px;
}

.about {
}
